{% extends 'videos/base.html' %}
{% load static %}

{% block title %}Subir Video{% endblock %}

{% block content %}
    <h2>Subir Nuevo Video</h2>

    <form method="post" enctype="multipart/form-data" id="video-form"> 
        {% csrf_token %}
        <div id="datos-usuario">
            <label for="usuario_id">ID:</label>
            <input type="text" id="usuario_id" name="id" required><br><br>

            <label for="usuario_nombre">Nombre:</label>
            <input type="text" id="usuario_nombre" name="nombre" required><br><br>

            <label for="usuario_cantidad_videos">Cantidad de videos a subir:</label>
            <input type="number" id="usuario_cantidad_videos" name="cantidad_videos" min="1" required><br><br>

            <button type="button" id="botonAceptar">Aceptar</button>
        </div>

        <div id="datos-video" style="display: none;">
            <label for="id_titulo">Título:</label>
            {{ form.titulo }} <br><br>

            <label for="id_nombre_video">Nombre del Vídeo</label>
            <input type="text" id="id_nombre" name="nombre" maxlength="100" required> <br><br>

            <label for="id_extension">Extensión del Vídeo:</label>
            <select id="id_extension" name="extension">
                <option value=".mp4">.mp4</option>
                <option value=".mov">.mov</option>
                <option value=".avi">.avi</option>
            </select> <br><br>

            <label for="id_tamanio">Tamaño (MB)</label>
            <input type="number" id="id_tamanio" name="tamanio" min="0" max="3" step="0.01" required> <br><br>

            <button type="submit">Guardar</button>
        </div>
    </form>

    <div id="confirmacion" style="display: none;">
        <p>Bienvenido, <span id="nombre-usuario"></span>, tu número de ID es: <span id="numero-id"></span> y estás intentando subir <span id="cantidad-videos-confirmacion"></span> videos. ¿Es correcta esta información?</p>
        <button id="botonSi">Sí</button>
        <button id="botonNo">No</button>
    </div>

    {% if form.errors %}
    <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
 
{% endblock %}
<script src="{% static 'js/aplicacion.js' %}"></script>